{% extends "header_auth.html" %}
{% block body_main_block %}
		<div class="enter_auth_block">
			<div class="enter_block_header_block">
				<div class="enter_block_header_font">
					Вход
				</div>
			</div>
			{% if form.errors %}
				<script>alert('Нет пользователя с таким именем и паролем!');</script>
			{% endif %}
			<form method="POST" action="{% url 'main:login' %}" id="login_form">
			{% csrf_token %}
			<div class="enter_login_block">
				<div class="enter_login_text_block">
					<div class="enter_login_text_font">
						Логин:
					</div>
				</div>
				<input id="enter_input_login_block" name="username" type="text"></input>
			</div>
			<div class="enter_password_block">
				<div class="enter_password_text_block">
					<div class="enter_password_text_font">
						Пароль:
					</div>
				</div>
				<input type="password" id="enter_input_password_block" name="password"></input>
			</div>
			<a class="forgot_password_block" href="{% url 'main:password_recovery' %}">Забыли пароль?</a>
			<div class="enter_enter_block" onclick="document.getElementById('login_form').submit();">
				<div class="enter_enter_text_block">
					<div class="enter_enter_text_font">
						Войти
					</div>
				</div>
			</div>
			</form>
			<div class="enter_register_block">
				<div class="enter_register_text_block">
					<div class="enter_register_text_font">
						Нет аккаунта? <a class="enter_register_href_font" href="{% url 'main:register' %}">Зарегистрироваться</a>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}