{% extends "header_auth.html" %}

{% block body_main_block %}
    {% csrf_token %}
    <div class="marks_side_bar_block" id="marks_side_bar_block">
	    <div class="marks_side_bar_content_block" id="marks_side_bar_content_block">
            <div id="subject_creating" class="marks_side_bar_lesson_block_choosen" onclick="add_subject_init();">
                <div class="side_bar_add_lessons_font">Добавить предмет</div>
            </div>
            <div id="lesson_creating" class="marks_side_bar_lesson_block" onclick="add_lesson_init();">
                <div class="side_bar_add_lessons_font">Добавить урок</div>
            </div>
	    </div>
    </div>
    <div id="main_add">
        <div class="add_subject_subject_label">Название предмета:</div>
        <input id="subject_name" name="subject_name" type="text" class="add_subject_subject_input">
        <div class="add_subject_subject_submit" onclick="create_new_subject();">
            <div class="add_subject_subject_submit_font">Добавить</div>
        </div>
        <div class="add_subject_table_block_header">Существующие предметы:</div>
        <div class="add_subject_table_block" id="add_subject_table_block">
            {% for subject in subjects %}
                <div class="add_subject_row">{{subject.subject_name}}</div>
            {% endfor %}
        </div>
    </div>
    {% load static %}
	<script src="{% static 'main/js/add_lessons.js' %}"></script>
    <script>
        subjects = [];
        subjects_counter = 0;
        {% for subject in subjects %}
            subjects[subjects_counter] = {"subject_id":"{{subject.id}}","subject_name":"{{subject.subject_name}}"};
            subjects_counter++;
        {% endfor %}
        groups_counter = 0;
        groups = [];
        {% for group in groups %}
            groups[groups_counter] = {"group_id":"{{group.id}}","group_name":"{{group.year_of_study}}{{group.group_letter}}"};
            groups_counter++;
        {% endfor %}
        lessons_counter=0;
        my_lessons = []
        {% for lesson in my_lessons %}
            my_lessons[lessons_counter] = {"lesson_id":"{{lesson.id}}","group_id":"{{lesson.group.id}}","subject_id":"{{lesson.subject.id}}",
                                   "subject_name":"{{lesson.subject.subject_name}}",
                                   "group_name":"{{lesson.group.year_of_study}}{{lesson.group.group_letter}}",
                                   "date":"{{lesson.date}}","start_time":"{{lesson.start_time}}",
                                   "end_time":"{{lesson.end_time}}","room":"{{lesson.room}}","type":"{{lesson.type}}",
                                   "teacher_id":"{{lesson.teacher.id}}"};
            lessons_counter++;
        {% endfor %}
        time_areas = [['9:00','9:45'],['9:45','10:30'],['10:30','11:15'],['11:15','12:00']];
    </script>
{% endblock %}