{% extends "header_auth.html" %}

{% block body_main_block %}
    <div class="body_main_block">
        <div class="table_header_register_chosen_button">
            Запросы на регистрацию
        </div>
        <div class="table_header_change_pass_button">
            Запросы на смену пароля
        </div>

        <div class="admin_table_block" id="admin_table_block">
            <div class="admin_table_row_header">
                <div class="admin_table_register_username_cell">
                    Логин
                </div>
                <div class="admin_table_register_name_cell">
                    ФИО
                </div>
                <div class="admin_table_register_role_cell">
                    Роль
                </div>
                <div class="admin_table_choose_role">
                    Выберите Роль
                </div>
                <div class="admin_table_choose_group">
                    Выберите Группу
                </div>
                <div class="admin_table_choose_abstract">
                    Выберите пользователя
                </div>
            </div>
        </div>
    </div>
    {% load static %}
	<script src="{% static 'main/js/admin_requests.js' %}"></script>
    <script>
        get_all_abstract_teachers();
        get_all_abstract_kids();
        get_all_groups();
        get_register_requests();
    </script>
{% endblock %}