{% extends "header_auth.html" %}

{% block body_main_block %}
    <div class="body_main_block">
        <div class="table_header_register_chosen_button" id="table_header_register_chosen_button" onclick="get_register_requests_with_table();">
            Запросы на регистрацию
        </div>
        <div class="table_header_change_pass_button" id="table_header_change_pass_button" onclick="get_change_password_requests();">
            Запросы на смену пароля
        </div>

        <div class="admin_table_block" id="admin_table_block">
            <div class="admin_table_row_header">
                <div class="admin_table_register_username_cell">
                    Логин
                </div>
                <div class="admin_table_register_name_cell">
                    ФИО
                </div>
                <div class="admin_table_register_role_cell">
                    Роль
                </div>
                <div class="admin_table_choose_role">
                    Выберите Роль
                </div>
                <div class="admin_table_choose_group">
                    Выберите Группу
                </div>
                <div class="admin_table_choose_abstract">
                    Выберите пользователя
                </div>
            </div>
        </div>
    </div>
    {% load static %}
	<script src="{% static 'main/js/admin_requests.js' %}"></script>
    <script>
        counter = 0;
        abstract_kids = []
        {% for abstract_student in abstract_students %}
            abstract_kids[counter] = {'name':'{{abstract_student.name}}','surname':'{{abstract_student.surname}}','father_name':'{{abstract_student.father_name}}','id':{{abstract_student.id}}};
            counter+=1;
        {% endfor %}
        counter = 0;
        abstract_teachers = [];
        {% for abstract_teacher in abstract_teachers %}
            abstract_teachers[counter] = {'name':'{{abstract_teacher.name}}','surname':'{{abstract_teacher.surname}}','father_name':'{{abstract_teacher.father_name}}','id':{{abstract_teacher.id}}};
            counter+=1;
        {% endfor %}
        counter = 0
        groups = [];
        {% for group in groups %}
            groups[counter] = {'year_of_study': "{{group.year_of_study}}",'group_letter':"{{group.group_letter}}",'id':{{group.id}}};
        {% endfor %}
        get_register_requests();
    </script>
{% endblock %}