{% extends "header_auth.html" %}

{% block body_main_block %}
    <div class="body_main_block">
        <div class="table_header_register_chosen_button">
            Запросы на регистрацию
        </div>
        <div class="table_header_change_pass_button">
            Запросы на смену пароля
        </div>

        <div class="admin_table_block">
            <div class="admin_table_row_header">
                <div class="admin_table_register_username_cell">
                    Логин
                </div>
                <div class="admin_table_register_name_cell">
                    ФИО
                </div>
                <div class="admin_table_register_role_cell">
                    Роль
                </div>
            </div>
            <div class="admin_table_row">

            </div>
            <div class="admin_table_row">

            </div>
        </div>
    </div>
{% endblock %}