{% extends "header_auth.html" %}

{% block body_main_block %}

	<div class="marks_side_bar_block">
			<div class="marks_side_bar_lesson_block">
				<div class="marks_side_bar_font">Lesson 1</div>
			</div>
			<div class="marks_side_bar_lesson_block">
				<div class="marks_side_bar_font">Lesson 2</div>
			</div>
			<div class="marks_side_bar_lesson_block">
				<div class="marks_side_bar_font">Lesson 3</div>
			</div>
			<div class="marks_side_bar_lesson_block">
				<div class="marks_side_bar_font">Lesson 4</div>
			</div>

			<div class="marks_side_bar_prev_block">
				<div class="marks_side_bar_font" onclick="get_previous_day_lesson(date);"><</div>
			</div>
			<div class="marks_side_bar_page_block">
				<div class="marks_side_bar_font" id="date_representation_block">{{day}}.{{month}}.{{year}}</div>
			</div>
			<div class="marks_side_bar_next_block">
				<div class="marks_side_bar_font" onclick="get_next_day_lesson(date);">></div>
			</div>
		</div>
		<div class="marks_content_block">
			<div class="marks_table_header_block">
				<div class="marks_table_header_font">
					Введите оценки:
				</div>
			</div>
			<div class="marks_table_row_header">
				<div class="marks_table_header_name_cell">
					<div class="marks_table_name_font">ФИО</div>
				</div>
				<div class="marks_table_header_mark_cell">
					<div class="marks_table_marks_font">Оценка</div>
				</div>
				<div class="marks_table_header_pluses_cell">
					<div class="marks_table_pluses_font">Особые заслуги</div>
				</div>
				<div class="marks_table_header_minuses_cell">
					<div class="marks_table_minuses_font">Замечание</div>
				</div>
			</div>
			<div class="marks_table_block">
				<div class="marks_table_row">
					<div class="marks_table_name_cell"></div>
					<div class="marks_table_mark_cell"></div>
					<div class="marks_table_pluses_cell"></div>
					<div class="marks_table_minuses_cell"></div>
				</div>
				<div class="marks_table_row">
					<div class="marks_table_name_cell"></div>
					<div class="marks_table_mark_cell"></div>
					<div class="marks_table_pluses_cell"></div>
					<div class="marks_table_minuses_cell"></div>
				</div>
				<div class="marks_table_row">
					<div class="marks_table_name_cell"></div>
					<div class="marks_table_mark_cell"></div>
					<div class="marks_table_pluses_cell"></div>
					<div class="marks_table_minuses_cell"></div>
				</div>
				<div class="marks_table_row">
					<div class="marks_table_name_cell"></div>
					<div class="marks_table_mark_cell"></div>
					<div class="marks_table_pluses_cell"></div>
					<div class="marks_table_minuses_cell"></div>
				</div>
			</div>
		</div>
	{% load static %}
	<script src="{% static 'main/js/lessons_plan.js' %}"></script>
	<script>
		date = new Date({{year}},{{month}}-1,{{day}});
	</script>
{% endblock %}
