{% extends "header_auth.html" %}

{% block body_main_block %}

	<div class="marks_side_bar_block" id="marks_side_bar_block">
	<div class="marks_side_bar_content_block" id="marks_side_bar_content_block">

	</div>
			<div class="marks_side_bar_prev_block">
				<div class="marks_side_bar_font" onclick="get_previous_day_lesson(date);"><</div>
			</div>
			<div class="marks_side_bar_page_block">
				<div class="marks_side_bar_font" id="date_representation_block">{{day}}.{{month}}.{{year}}</div>
			</div>
			<div class="marks_side_bar_next_block">
				<div class="marks_side_bar_font" onclick="get_next_day_lesson(date);">></div>
			</div>
		</div>
		<div class="marks_content_block" id="marks_content_block">

		</div>
	{% load static %}
	<script src="{% static 'main/js/lessons_plan.js' %}"></script>
	<script>
		is_teacher = false;
		{% if is_teacher %}
			is_teacher = true;
		{% endif %}
		date = new Date({{year}},{{month}}-1,{{day}});
		get_lessons_from_date(date);

	</script>
{% endblock %}






