{% extends "header_auth.html" %}

{% block body_main_block %}
<div class="register_block">
    <div class="register_block_header_block">
        <div class="register_block_header_font">
            Смена пароля
        </div>
    </div>
    <form method="POST" id="register_form">
        {% csrf_token %}
        <div class="register_login_block">
            <div class="register_login_text_block">
                <div class="register_login_text_font">
                    Логин:
                </div>
            </div>
            <input type="text" id="register_input_login_block" name="login"></input>
        </div>
        <div class="register_password_block">
            <div class="register_password_text_block">
                <div class="register_password_text_font">
                    Новый пароль:
                </div>
            </div>
            <input type="password" id="register_input_password_block" name="password"></input>
        </div>
        <div class="register_retype_password_block">
            <div class="register_retype_password_text_block">
                <div class="register_retype_password_text_font">
                    Повторите пароль:
                </div>
            </div>
            <input type="password" id="register_input_retype_password_block" name="retype_password"></input>
        </div>
        <div class="register_surname_block">
            <div class="register_surname_text_block">
                <div class="register_surname_text_font">
                    Другая информация:
                </div>
            </div>
            <input type="text" id="register_input_surname_block" name="other_info"></input>
        </div>
        <div class="register_register_block" onclick="send_password_recovery_request();">
            <div class="register_register_text_block">
                <div class="reсovery_text_font">
                    Отправить запрос на смену пароля
                </div>
            </div>
        </div>
    </form>
    <div class="register_enter_block">
        <div class="register_enter_text_block">
            <a href="{% url 'main:login' %}" class="back_button_recovery"> ←Назад</a>
        </div>
    </div>
</div>

{% load static %}
<script src="{% static 'main/js/password_recovery.js' %}"></script>
{% endblock %}