{% extends "header_auth.html" %}

{% block body_main_block %}
	<script>
		function send_register_request(){
			reg_form = document.getElementById('register_form');
			retype_password = document.getElementById('register_input_retype_password_block').value;
			password = document.getElementById('register_input_password_block').value;
			if(retype_password!=password){
				alert('password and retype password must be equal');
				return;
			}
			role = document.getElementById('register_input_role_block').value;
			login = document.getElementById('register_input_login_block').value;
			surname = document.getElementById('register_input_surname_block').value;
			name = document.getElementById('register_input_name_block').value;
			if (name == '' || surname == ''||login=='' || role==''||password==''){
				alert('fill all fields');
				return;
			}
			reg_form.submit();
			return;
		}
	</script>
	{% if error %}
		<script>alert('{{error}}');</script>
	{% endif %}
    <div class="register_block">
			<div class="register_block_header_block">
				<div class="register_block_header_font">
					Регистрация
				</div>
			</div>
			<form action="{% url 'main:register' %}" method="POST" id="register_form">
				{% csrf_token %}
			<div class="register_login_block">
				<div class="register_login_text_block">
					<div class="register_login_text_font">
						Логин:
					</div>
				</div>
				<input type="text" id="register_input_login_block" name="login"></input>
			</div>
			<div class="register_password_block">
				<div class="register_password_text_block">
					<div class="register_password_text_font">
						Пароль:
					</div>
				</div>
				<input type="password" id="register_input_password_block" name="password"></input>
			</div>
			<div class="register_retype_password_block">
				<div class="register_retype_password_text_block">
					<div class="register_retype_password_text_font">
						Повторите пароль:
					</div>
				</div>
				<input type="password" id="register_input_retype_password_block" name="retype_password"></input>
			</div>
			<div class="register_surname_block">
				<div class="register_surname_text_block">
					<div class="register_surname_text_font">
						Фамилия:
					</div>
				</div>
				<input type="text" id="register_input_surname_block" name="surname"></input>
			</div>
			<div class="register_name_block">
				<div class="register_name_text_block">
					<div class="register_name_text_font">
						Имя:
					</div>
				</div>
				<input id="register_input_name_block" type="text" name="name"></input>
			</div>
			<div class="register_fathname_block">
				<div class="register_fathname_text_block">
					<div class="register_fathname_text_font">
						Отчество (если есть):
					</div>
				</div>
				<input type="text" name="fathname" id="register_input_fathname_block"></input>
			</div>
			<div class="register_role_block">
				<div class="register_role_text_block">
					<div class="register_role_text_font">
						Должность:
					</div>
				</div>
				<input type="text" placeholder="Студент 1 курса группы А-122" name="role" id="register_input_role_block"></input>
			</div>
			<div class="register_register_block" onclick="send_register_request();">
				<div class="register_register_text_block">
					<div class="register_register_text_font">
						Зарегистрироваться
					</div>
				</div>
			</div>
			</form>
			<div class="register_enter_block">
				<div class="register_enter_text_block">
					<div class="register_enter_text_font">
						Уже есть аккаунт? <a href="{% url 'main:login' %}" class="register_enter_href_font"> Войти</a>
					</div>
				</div>
			</div>
		</div>
{% endblock %}