{% load static %}

<html>
<head>
	<title> Электронный Дневник </title>
	<link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
	<div class="main">
		<div class="header_block">
			<div class="banner_header_block">
				<div class="banner_header_font">Электронный Дневник</div>
			</div>
			<div class="marks_header_button">
				<div class="marks_header_font">
					Оценки
				</div>
			</div>
			<div class="scheduler_header_button">
				<div class="scheduler_header_font">
					Расписание
				</div>
			</div>
			<div class="raiting_header_button">
				<div class="raiting_header_font">
					Рейтинг
				</div>
			</div>
			<div class="avatar_header_block">
			</div>
			<div class="profile_header_block">
				<div class="profile_header_font">
					Username v
				</div>
			</div>
		</div>
		<div class="menu_header_block">
			<div class="profile_menu_header_block">
				<div class="exit_menu_header_font">
					Личный кабинет
				</div>
			</div>
			<div class="exit_menu_header_block">
				<div class="exit_menu_header_font">
					Выйти
				</div>
			</div>
		</div>
	</div>
	{% block body_main_block %}
	{% endblock %}
</body>
</html>