{% load static %}
<html>
<head>
	<title> Электронный Дневник </title>
	<link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
	<div class="main">
{% if user.is_authenticated %}
		<div class="header_block">
			<div class="banner_header_block">
				<div class="banner_header_font">Электронный Дневник</div>
			</div>
			<div class="marks_header_button">
				<div class="marks_header_font">
					Оценки
				</div>
			</div>
			<a href="{% url 'main:lessons_plan' %}">
			<div class="scheduler_header_button">
				<div class="scheduler_header_font">
					Расписание
				</div>
			</div>
			</a>
			<div class="raiting_header_button">
				<div class="raiting_header_font">
					Рейтинг
				</div>
			</div>
			<div class="avatar_header_block">
			</div>
			<div class="profile_header_block">
				<div class="profile_header_font">
					{{user.username}}
				</div>
			</div>
		</div>
		<div class="menu_header_block">
			<a href="{% url 'main:profile' %}">
			<div class="profile_menu_header_block">
				<div class="exit_menu_header_font">
					Личный кабинет
				</div>
			</div>
			</a>
			<form method="POST" action="{% url 'main:logout' %}" id="logout_form">
			{% csrf_token %}
			<div class="exit_menu_header_block" onclick="document.getElementById('logout_form').submit();">
				<div class="exit_menu_header_font">
					Выйти
				</div>
			</div>
			</form>
		</div>
{% else %}
		<div class="header_block">
			<a href="{% url 'main:login' %}">
			<div class="enter_header_button">
				<div class="enter_header_font">
					Вход
				</div>
			</div>
			</a>
			<a href="{% url 'main:register' %}">
			<div class="register_header_button">
				<div class="register_header_font">
					Регистрация
				</div>
			</div>
			</a>
			<div class="banner_header_block">
				<div class="banner_header_font">Электронный Дневник</div>
			</div>
		</div>

	{% endif %}
	{% block body_main_block %}
	{% endblock %}
	</div>
</body>
</html>