<html>
<head>
	<title> Электронный Дневник </title>
	<link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
	<div class="main">
		<div class="header_block">
			<div class="enter_header_button">
				<div class="enter_header_font">
					Вход
				</div>
			</div>
			<div class="register_header_button">
				<div class="register_header_font">
					Регистрация 
				</div>
			</div>
			<div class="banner_header_block">
				<div class="banner_header_font">Электронный Дневник</div>
			</div>
		</div>
	</div>
</body>
</html>